@keyframes skills-icons-anim {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideUp {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes entrance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.competences-container {
  --areas: 
    'text-back skills-back'
    'text-bdd skills-bdd'
    'text-algo skills-algo'
    'text-front skills-front'
    'text-tools skills-tools';
  --columns: repeat(2, 38%);
  --row1 : 1fr;
  --row2 : 1fr;
  --row3 : 1fr;
  --row4 : 1fr;
  --row5 : 1fr;

  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 38%);
  grid-template-rows: var(--row1) var(--row2) var(--row3) var(--row4) var(--row5);
  grid-template-areas:
    var(--areas);
  justify-content: center;

  transition: 700ms ease-in-out;
}

.competences-container.javascript,
.competences-container.typescript,
.competences-container.nodejs,
.competences-container.nestjs {
  --row1: 5fr
}

.competences-icons-containers {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-radius: 10px;
  background-color: lightgrey;
}

.competences-icons-back {
  grid-area: skills-back;
}

.competences-icons-bdd {
  grid-area: skills-bdd;
}

.competences-icons-algo {
  grid-area: skills-algo;
}

.competences-icons-front {
  grid-area: skills-front;
}

.competences-icons-tools {
  grid-area: skills-tools;
}

.competences-img {
  animation: skills-icons-anim 3s linear 0s infinite normal forwards;
  animation-play-state: paused;
  /* animation: entrance 1s ease 0s 1 normal forwards; */
}

.competences-img:hover {
  animation-play-state: running;
}

.competences-description-containers {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-style: solid;
  border-radius: 10px;
}

.competences-description-back {
  grid-area: text-back;
}

.competences-description-bdd {
  grid-area: text-bdd;
}

.competences-description-algo {
  grid-area: text-algo;
}

.competences-description-front {
  grid-area: text-front;
}

.competences-description-tools {
  grid-area: text-tools;
}

.competences-description {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.competences-description p {
  animation: entrance 1s ease 0s 1 normal forwards;
}

/* .background-rect-competences {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  isolation: isolate;
  z-index: 1;
  background-color: black;
  animation: entrance 1s ease 0s 1 normal forwards;
} */

/* Parameters for phones */
@media only screen and (max-width: 600px) {
  /* .competences-icons-containers {
    height: 70%;
    gap: 4vh;
    padding: 8vh;
    row-gap: 1vh;
  } */
  .competences-img {
    height: auto;
    max-width: 8vw;
  }
  /* .background-rect-competences {
    top: 41vh;
    height: 90px;
    position: absolute;
  } */
  .competences-description {
    /* top: 15px; */
    font-size: large;
  }
}

/* Parameters for medium devices */
@media only screen and (min-width: 600px) {
  .competences-icons-containers {
    height: 100%;
    /* padding: 20px; */
    gap: 20px;
  }
  .competences-img {
    height: 40px;
    width: 40px;
  }
  /* .background-rect-competences {
    top: 55%;
    height: 90px;
  } */
  .competences-description {
    /* top: 15px; */
    font-size: large;
  }
}

/* Parameters for big laptops */
@media only screen and (min-width: 992px) {
  .competences-container {
    row-gap: 20px;
    column-gap: 20px;
  }

  .competences-icons-containers {
    width: 100%;
    padding: 15px;
  }

  .icons {
    display: flex;
    gap: 20px;
  }

  .competences-img {
    height: 45px;
    width: 45px;
  }
  /* .background-rect-competences {
    top: 60%;
    height: 120px;
  } */
  .competences-description-containers p {
    font-weight: bold;
    font-size: x-large;
    margin: 0px;
  }
}
