* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: #F0F5F9;
  height: auto;
  overflow-x: hidden;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

a:link,
a:visited,
a:active {
  color: #1E2022;
  text-decoration: none;
}

@keyframes entrance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container {
  display: grid;
  color: black;
  padding: 5px;
  height: 100vh;
  width: 100vw;
  /* grid-template-columns: auto; */
  grid-template-areas:
    'header'
    'main'
    'footer';
  box-sizing: border-box;
}

.main {
  height: 100%;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  position: relative;
  isolation: isolate;
  z-index: 1;
  /* background-color: #C9D6DF; */
  /* animation: entrance 1s ease 0s 1 normal forwards; */
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Parameters for phones */
@media only screen and (max-width: 600px) {
  .container {
    grid-template-rows: 110px 3fr 0.3fr;
    padding: 0;
  }
  .main {
    font-size: 1rem;
  }
  .footer {
    font-size: xx-small;
  }
}

/* Parameters for medium devices */
@media only screen and (min-width: 600px) {
  .container {
    grid-template-rows: 120px 5fr 1fr;
  }
  .footer {
    font-size: 0.7rem;
  }
}

/* Parameters for big laptops */
@media only screen and (min-width: 992px) {
  .container {
    grid-template-rows: 120px 6fr 1fr;
  }

  .footer {
    font-size: small;
  }
}
