@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.1;
	}

	100% {
		opacity: 1;
	}
}

p {
  margin: 0px;
}

.presentation {
  display: grid;
  height: 100%;
  width: 100%;
  position: relative;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 0.3fr 3fr;
  grid-template-areas:
  'bandeau bandeau'
  'photo-pres text-pres';
}

.bandeau {
  grid-area: bandeau;
  text-align: center;
  /* font-weight: bold; */
  background-color: lightgrey;
}

.bandeau p {
  display: inline-block;
  align-items: center;
}

/* .opentowork {
  animation: blink 3s ease 0s infinite normal forwards;
} */

.photo-pres {
  grid-area: photo-pres;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-element {
  height: 150px;
  width: auto;
  position: absolute;
  top: 125px;
  left: 100px;
  /* border-style: solid;
  border-color: black; */
  padding: 10px;
  z-index: 2;
}

.background-rect {
  position: absolute;
  top: 100px;
  left: 75px;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: lightgrey
}

.text-pres {
  grid-area: text-pres;
  padding: 10%;
  background-color: lightgrey;
  margin: 5%
}

.text-pres div {
  background-color: light;
  border-radius: 2px;
}

.text-pres p {
  padding: 1%;
}

/* Parameters for phones */
@media only screen and (max-width: 600px) {
 .bandeau {
  padding: 3px 0px;
 }

 p {
  font-size: small
  }
}

/* Parameters for medium devices */
@media only screen and (min-width: 600px) {
  .bandeau {
    padding: 5px 0;
  }

  p {
    font-size: small
  }
}

/* Parameters for big laptops */
@media only screen and (min-width: 992px) {
  .bandeau {
    padding: 10px 0;
  }

  p {
    font-size: medium
  }
}
