@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes slideDown {
	0% {
		opacity: 0;
		transform: rotateX(-100deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 2s 0.2s forwards ease;
}

span:nth-child(2) {
  animation: fade-in 2s 0.6s forwards ease;
}

span:nth-child(3) {
  animation: fade-in 2s 0.8s forwards ease;
}

span:nth-child(4) {
  animation: fade-in 2s 1.0s forwards ease;
}

p {
  margin: 0px;
}

.presentation {
  display: grid;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  grid-template-columns: 1fr;
  grid-template-areas:
  'bandeau bandeau'
  'photo-pres photo-pres'
  'text-pres text-pres';
}

.bandeau {
  grid-area: bandeau;
  display: flex;
  position: relative;
  z-index: 1;
  text-align: center;
  justify-content: center;
  background-color: #C9D6DF
}

.bandeau p {
  align-self: center;
  color: #1E2022;
}

/* .opentowork {
  animation: blink 3s ease 0s normal forwards;
} */

.photo-container {
  grid-area: photo-pres;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bonjour {
  position: relative;
  align-self: center;
  /* transform: scale(0.94); */
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.photo-element {
  justify-self: end;
  position: relative;
  width: auto;
  align-self: center;
  animation: entrance 6s forwards ease;
}

.text-pres {
  grid-area: text-pres;
  display: grid;
  animation: entrance 3s ease 0s 1 normal forwards;
  /* background-color: #C9D6DF; */
}

.text-pres p {
  padding: 1%;
  text-align: justify;
  color: #1E2022
}


/* Parameters for phones */
@media only screen and (max-width: 600px) {
  .presentation {
    grid-template-rows: 0.3fr 0.5fr 2fr;
    margin-top: 15px;
  }

 .bandeau {
  padding: 3px 0px;
  bottom: 3px;
 }

 .photo-container {
  padding: 10px;
 }

 .photo-element {
  left: 6vw;
  justify-self: center;
  height: 80px;
}

.bonjour {
  padding: 0 3vw;
  left: -4vw;
  font-size: medium;
}

.text-pres {
  grid-template-columns: 1fr;
  margin: 0% 10%;
  /* background-color: #C9D6DF; */
  padding: 15px;
}

 p {
  font-size: small
  }
}

/* Parameters for medium devices */
@media only screen and (min-width: 600px) {
  .presentation {
    grid-template-rows: 0.3fr 0.8fr 2fr;
  }

  .bandeau {
    padding: 5px 0;
    bottom: 10px;
  }

  .photo-element {
    right: 6vw;
    height: 80px;
  }

  .bonjour {
    left: -5vw;
    font-size: large;
  }

  .text-pres {
    grid-template-areas: 'zone1 zone2';
    grid-template-columns: 1fr 1fr;
    margin: 0% 8%;
    column-gap: 3%;
  }

  .zone {
    border-radius: 5px;
    /* border-style: solid;
    border-width:  thin; */
    padding: 10px;
    /* background-color: #C9D6DF */
  }

  p {
    font-size: small
  }
}

/* Parameters for big laptops */
@media only screen and (min-width: 992px) {
  .presentation {
    grid-template-rows: 0.3fr 0.8fr 2fr;
  }

  .bandeau {
    padding: 10px 0;
    bottom: 5px;
  }

  .photo-element {
    height: 100px;
    right: 7vw;
  }

  .bonjour {
    left: -5vw;
    font-size: x-large;
  }

  .text-pres {
    grid-template-areas: 'zone1 zone2';
    grid-template-columns: 1fr 1fr;
    margin: 0% 12%;
    column-gap: 5%;
  }

  p {
    font-size: medium
  }
}
