@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes slideDown {
	0% {
		opacity: 0;
		transform: rotateX(-100deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}

p {
  margin: 0px;
}

.presentation {
  display: grid;
  height: 100%;
  width: 100%;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr 2fr;
  grid-template-areas:
  'bandeau bandeau'
  'photo-pres photo-pres'
  'text-pres text-pres';
}

.bandeau {
  grid-area: bandeau;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: lightgrey;
}

.bandeau p {
  align-self: center;
}

/* .opentowork {
  animation: blink 3s ease 0s infinite normal forwards;
} */

.photo-container {
  grid-area: photo-pres;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}

.photo-element {
  height: 150px;
  width: auto;
  border-radius: 10px;
  animation: entrance 2.5s ease 0s 1 normal forwards;

}

.background-rect {
  grid-area: text-pres;
  position: absolute;
  bottom: 5%;
  align-self: center;
  justify-self: center;
  height: 120%;
  width: 70vw;
  z-index: 1;
  background-color: #DDDDDD;
  border-right-style: solid;
  border-left-style: solid;
  animation: slideDown 2s ease 0s 1 normal forwards;
}

.text-pres {
  grid-area: text-pres;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin: 1% 20%;
  column-gap: 5%;
  animation: entrance 3s ease 0s 1 normal forwards;

}

.text-pres p {
  padding: 1%;
}


/* Parameters for phones */
@media only screen and (max-width: 600px) {
 .bandeau {
  padding: 3px 0px;
 }

 p {
  font-size: small
  }
}

/* Parameters for medium devices */
@media only screen and (min-width: 600px) {
  .bandeau {
    padding: 5px 0;
  }

  p {
    font-size: small
  }
}

/* Parameters for big laptops */
@media only screen and (min-width: 992px) {
  .bandeau {
    padding: 10px 0;
  }

  p {
    font-size: medium
  }
}
